header.header {
    background-color: #FFF;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;


}

header.header h3 {
    font-size: 1.1em;
}

header.header h3 a {
    text-decoration: none;    
}