aside.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    
    
}

aside.logo a {
    text-decoration: none;
    color: rgba(17, 17, 17, 0.582);    
    
}

