aside.logo {
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    
    
}

aside.logo a {
    text-decoration: none;
    color: rgba(230, 215, 215, 0.582);    
    
}

