main.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #bbd2c5, #536976);
    
}

main > div > div {
    display: flex;
    width: 100vh;
    align-items: center;
    justify-content: center;
}



label {
    display: flex;
    align-items: center;
    justify-content: center;
}


#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main.content a {
    text-decoration: none;
    outline: none;
}